NEXT_PUBLIC_API_BASE_URL=/api/proxy
NEXT_PUBLIC_BACKEND_URL=/api/proxy
BACKEND_URL=https://dev.aishophelper.ai/api/v1
NEXT_SERVER_URL=http://localhost:3000

NEXT_ASSETS_DIR=public
OPENAPI_DOWNLOAD=s3://ai-shop-helper-dev/openapi/openapi.json
DOCKER_IMAGE_FRONTEND=ai-shop-helper-frontend

STRIPE_SECRET_KEY=your_key_here
STRIPE_SECRET_KEY_TEST=your_key_here